<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1048984642638-i7k6j409kltlah7oikeb7dflscjgu3sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048984642638-i7k6j409kltlah7oikeb7dflscjgu3sd</string>
	<key>API_KEY</key>
	<string>AIzaSyBtMa_L96trD2ntQmrSVKoPKY0GbmfnhH0</string>
	<key>GCM_SENDER_ID</key>
	<string>1048984642638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vivekraiautosquadron.vivekrai.AutoSquadron</string>
	<key>PROJECT_ID</key>
	<string>autosquadron</string>
	<key>STORAGE_BUCKET</key>
	<string>autosquadron.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048984642638:ios:9044a6828b98dabb</string>
	<key>DATABASE_URL</key>
	<string>https://autosquadron.firebaseio.com</string>
</dict>
</plist>